@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-bg-image {
  background-image: url(../public/layered-waves-haikei.svg);
  aspect-ratio: 16/9;
  width:100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  
  
}
.divider-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom:-200px;
}

.divider-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 285px;
}

.divider-svg .shape-fill {
  fill: #7E0A3A;
}
